<style>
html
{
	background-color:#00BFFF;
}
.button2 {background-color:blue;}
.button {
    background-color:blue;
    border: none;
    color: white;
    padding: 35px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
}
p, h3, h1
{
	color:white;
}
input
{
	color:blue;
}
marquee
{
	background-color:blue;
}
h2
{
	font-size: 50px;
	color:white;
}

</style>